@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.custom-nav {
    position: absolute;

    .navbar-brand {
        img {
            width: 160px;
            height: 40px;
        }

        margin-right: 110px;
    }

    .nav-item {
        margin: 0 20px;

        .nav-link {
            font-weight: 900;
            color: #fff;
        }
    }
}

.custom-btn {
    margin-left: 50px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 900;
    white-space: nowrap;
    color: #FDCB6E;
}

.jumbotron {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    .container {
        position: relative;
        z-index: 1;
    }

    h6 {
        margin-top: 80px;
        color: #fff;
        text-shadow: 1px 1px 1px #e47737;
    }

    .display-4 {
        color: white;
        font-weight: 200;
        text-shadow: 1px 1px 1px #e47737;
        font-size: 40px;
    }

    p {
        color: #fff;
        font-weight: 800;
        margin: 30px 0;
    }

    img {
        margin-left: 150px;
        width: 400px;
        height: 500px;
    }
}

.info-panel {
    box-shadow: 1px 10px 20px rgba(255, 199, 94, 0.4);
    border-radius: 12px;
    margin-top: -70px;
    background-color: white;
    padding: 30px;

    .section-panel {

        div {
            border: 3px solid #FDCB6E;
            border-radius: 15px;
            margin: 5px 20px;
        }

        p {
            margin-top: 15px;
            color: #FDCB6E;
            text-align: center;
        }
    }

}

.tokenomics {

    margin-top: 100px;

    img {
        width: 500px;
        height: 320px;
    }

    .card {
        width: 25rem;
        margin-top: 40px;
        border-radius: 10px;
        background-color: #FDCB6E;
        color: #fff;
        box-shadow: 1px 10px 20px rgba(255, 199, 94, 0.4);
    }

    .card-1 {
        margin-left: 120px;

        img {
            width: 70px;
            height: 60px;
            margin-top: 8px;
            margin-left: 15px;
        }

        h5 {
            margin-top: 23px;
        }

        p {
            margin-top: 5px;
            font-size: .9rem;
        }
    }

    .card-2 {
        margin-top: 40px;
        margin-left: -180px;

        img {
            width: 70px;
            height: 60px;
            margin-top: 8px;
            margin-left: 15px;
        }

        h5 {
            margin-top: 23px;
        }

        p {
            margin-top: 10px;
            font-size: .9rem;
        }
    }
}

.col-or {
    color: #FDCB6E;
}

.roadmap {

    margin-top: 100px;

    .img-road {
        width: 125px;
        height: 75px;
        margin-top: -100px;
        margin-left: 90%;
    }

    .arrow {
        width: 100%;
    }

    .card {
        width: 15rem;
        height: 16rem;
        margin-top: 50px;
        background-color: #FDCB6E;
        color: #fff;

        .card-title {
            text-align: center;
            margin-bottom: 30px;
        }

        p {
            font-size: .8rem;
            margin-top: -10px;

            img {
                width: 15px;
                margin-right: 8px;
                margin-top: -3px;
            }
        }
    }
}

.sabar {

    h1 {
        margin-top: 70px;
        text-align: center;
    }
}