@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

.custom-nav {
  position: absolute;
}
.custom-nav .navbar-brand {
  margin-right: 110px;
}
.custom-nav .navbar-brand img {
  width: 160px;
  height: 40px;
}
.custom-nav .nav-item {
  margin: 0 20px;
}
.custom-nav .nav-item .nav-link {
  font-weight: 900;
  color: #fff;
}

.custom-btn {
  margin-left: 50px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 40px;
  font-size: 1rem;
  font-weight: 900;
  white-space: nowrap;
  color: #FDCB6E;
}

.jumbotron {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
}
.jumbotron h6 {
  margin-top: 80px;
  color: #fff;
  text-shadow: 1px 1px 1px #e47737;
}
.jumbotron .display-4 {
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 1px #e47737;
  font-size: 40px;
}
.jumbotron p {
  color: #fff;
  font-weight: 800;
  margin: 30px 0;
}
.jumbotron img {
  margin-left: 150px;
  width: 400px;
  height: 500px;
}

.info-panel {
  box-shadow: 1px 10px 20px rgba(255, 199, 94, 0.4);
  border-radius: 12px;
  margin-top: -70px;
  background-color: white;
  padding: 30px;
}
.info-panel .section-panel div {
  border: 3px solid #FDCB6E;
  border-radius: 15px;
  margin: 5px 20px;
}
.info-panel .section-panel p {
  margin-top: 15px;
  color: #FDCB6E;
  text-align: center;
}

.tokenomics {
  margin-top: 100px;
}
.tokenomics img {
  width: 500px;
  height: 320px;
}
.tokenomics .card {
  width: 25rem;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #FDCB6E;
  color: #fff;
  box-shadow: 1px 10px 20px rgba(255, 199, 94, 0.4);
}
.tokenomics .card-1 {
  margin-left: 120px;
}
.tokenomics .card-1 img {
  width: 70px;
  height: 60px;
  margin-top: 8px;
  margin-left: 15px;
}
.tokenomics .card-1 h5 {
  margin-top: 23px;
}
.tokenomics .card-1 p {
  margin-top: 5px;
  font-size: 0.9rem;
}
.tokenomics .card-2 {
  margin-top: 40px;
  margin-left: -180px;
}
.tokenomics .card-2 img {
  width: 70px;
  height: 60px;
  margin-top: 8px;
  margin-left: 15px;
}
.tokenomics .card-2 h5 {
  margin-top: 23px;
}
.tokenomics .card-2 p {
  margin-top: 10px;
  font-size: 0.9rem;
}

.col-or {
  color: #FDCB6E;
}

.roadmap {
  margin-top: 100px;
}
.roadmap .img-road {
  width: 125px;
  height: 75px;
  margin-top: -100px;
  margin-left: 90%;
}
.roadmap .arrow {
  width: 100%;
}
.roadmap .card {
  width: 15rem;
  height: 16rem;
  margin-top: 50px;
  background-color: #FDCB6E;
  color: #fff;
}
.roadmap .card .card-title {
  text-align: center;
  margin-bottom: 30px;
}
.roadmap .card p {
  font-size: 0.8rem;
  margin-top: -10px;
}
.roadmap .card p img {
  width: 15px;
  margin-right: 8px;
  margin-top: -3px;
}

.about {
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about img {
  width: 350px;
  height: 350px;
  margin-top: 50px;
}
.about .ecommerce {
  margin-top: 50px;
}
.about .ecommerce .card {
  width: auto;
  height: 200px;
  font-size: 1.1rem;
  margin-top: 40px;
  border-radius: 10px 50px;
}
.about .ecommerce .card p {
  margin: 10px 20px;
  color: #FDCB6E;
}

/*# sourceMappingURL=main.css.map */
